.image-section {
  position: relative;
}

.clinic-photo {
  width: 100%;
  max-height: 380px;
  display: block;
  object-fit: cover;
  object-position: 50% 18%;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 0;                    /* убираем жёсткий отступ */
  right: 0;                   /* растягиваем на всю ширину */
  transform: translateY(-50%);
  color: #fff;
}

.banner-title {
  margin: 0 0 12px;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Georgia", serif;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

.banner-subtitle {
   margin: -6px 0 0;   /* поднимем вверх */
  font-size: 27px;
  font-weight: 500;
  color: #ad0000;
  font-family: "Georgia", serif;
  text-shadow: 1px 1px 3px rgba(139,139,139,0.6);
}
